@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Poppins&display=swap");

* {
  font-family: "Poppins";
}

#keyboardDrum {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.drumKeys {
  height: 50px;
  width: 50px;
  padding: 25px;
  margin: 25px;
}

#clickDrum {
  display: grid;
  justify-content: center;
  gap: 10px;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  text-align: center;
}

.drumClicks {
  padding: 10px;
  background-color: darkcyan;
  font-size: 35px;
  text-align: center;
  color: aliceblue;
  border-radius: 25px;
}
